.daily-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


.daily-table th,
.daily-table td,
.extra-table th,
.extra-table td {
    border: 1px solid #9AD7B2;
    padding: 10px;
    vertical-align: middle;
}


.daily-table td:first-child,
.daily-table th:first-child {
    border-left: none;
}


.daily-table td:last-child,
.daily-table th:last-child {
    border-right: none;
}


.table-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #E6F2E8;
}


.input-cell {
    border: none;

    padding: 0;

}

.input-cell input {
    width: 100%;
  
    height: 100%;

    border: none;
 
    outline: none;
 
    padding: 10px;
    box-sizing: border-box;
  
    background-color: transparent;
 
    text-align: left;

}



.schedule-title {
    font-size: 24px;
    font-weight: bold;
}

.bottom-row {
    margin-top: 100px;
}

.bottom-row .input-cell input {
    width: 100%;
    height: 100%;
    text-align: center;
}


.bottom-spacing {
    height: 16px; 
}


.text-no-margin {
    display: flex;
    align-items: center; 
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 22px;
}


.left-image {
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}


.highlighted-text {
    color: #9AD7B2; 
    text-decoration: underline; 
}


.text-with-margin {
    text-align: left;
    margin-left: 20px;
}
