.p63-top-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding-left: 50px;
    box-sizing: border-box; 
    font-size: 20px; 
}
.cartoon-image {
    width: 120px; 
    height: auto; 
    flex-shrink: 0; 
}

.date-section {
    display: flex; 
    gap: 30px; 

}
.date-section span {
    white-space: nowrap; 
    margin: 0;
}
.weather-container {
    display: flex;
    font-size: 20px;
    align-items: center; 
    gap: 8px; 
}

.weather-section {
    display: flex;
    align-items: center; 
}

.weather-icon {
    width: 30px; 
    height: 30px; 
    vertical-align: middle; 
}
